<!DOCTYPE html>
<html lang="ru">
<head>
    {% block head %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Web Scraper</title>

        {% block styles %}
            {{ bootstrap.load_css() }}
            <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        {% endblock %}

    {% endblock %}
</head>
<body>
    {% from 'bootstrap5/utils.html' import render_icon %}

    {% block scripts %}
        {{ bootstrap.load_js() }}

        <script src="{{ url_for('static', filename='jquery-3.6.0.min.js') }}"></script>
    {% endblock %}

    <div class="container-fluid">
        <header>
            <h1>Выборка данных об учебнике с сайта издательства Просвещение</h1>
        </header>
        <main>
            {% block content %}{% endblock %}
        </main>
    </div>
</body>
</html>